@page "/tnt/mt"
@inject AppState AppState
@inject NavigationManager NavigationManager
@inject IDataAccess db
@inject IDialogService DialogService
<PageTitle>Tanıtıcı</PageTitle>

<style>
    .mud-table-cell {
        padding: 4px !important;
    }
</style>

<div class="mud-theme-dark">
    <MudText Align="Align.Center" Typo="Typo.body2">Mağazalar</MudText>
</div>

<div class="mx-auto my-2">
    <MudExpansionPanels>
        @foreach (var itm in data)
        {
            <MudExpansionPanel IsExpandedChanged="@((x) => ExpandedChanged(x, itm.MTid))">
                <TitleContent>
                    <div class="d-flex align-center gap-2">
                        <MudText><b>@itm.Name</b></MudText>
                        <MudText><b>@itm.Uri</b></MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudText>Panel Content</MudText>
                    <p>Info ...</p>
                    @foreach(var dty in mksd[itm.MTid])
                    {
                        <div>@dty.KuponNo</div>
                    }
                </ChildContent>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
</div>

<MudDataGrid T="MT" Items="@data" @ref="mudDataGrid"
             Breakpoint="Breakpoint.None"
             FixedHeader="true" Height="@Constants.Height" HorizontalScrollbar="false"
             Virtualize="true"
             Hover="true" Striped="true" Dense="true" Bordered="true"
             Filterable="false"
             FilterMode="DataGridFilterMode.ColumnFilterMenu"
             Groupable="false"
             MultiSelection="false"
             RowClassFunc="@SelectedRowClassFunc" RowClass="py-0" >
    <Columns>
        <Column T="MT" Field="@nameof(MT.MTid)" Title="ID" />
        <Column T="MT" Field="@nameof(MT.Name)" Title="Ad" />
        <Column T="MT" Field="@nameof(MT.Uri)" Title="Link" >
            <CellTemplate>
                <MudLink Href="@context.Item.Uri" Target="_blank">@context.Item.Uri</MudLink>
            </CellTemplate>
        </Column>
    </Columns>
    @*    <PagerContent>
    <MudDataGridPager T="UT" />
    </PagerContent>
    *@
</MudDataGrid>

<MudDialog @bind-IsVisible="contextMenuVisible" Options="dialogOptions" DisableSidePadding="false">
    <DialogContent>
        @*<MudContainer Style="max-height: 80vh ; overflow-y: scroll">*@
        <MudList Clickable="true" Dense="true" DisableGutters="true">
            <MudListItem Text="Aktivite" Disabled="@isActivityDisabled" OnClick="Activity" />
            <MudDivider />
            <MudListItem Text="Mağaza" Disabled="@isMagazaDisabled" />
            <MudListItem Text="Tanıtıcı" Disabled="@isTaniticiDisabled" />
        </MudList>
        @*</MudContainer>*@
    </DialogContent>
</MudDialog>

@code {
    //[CascadingParameter] App app { get; set; }

    private IEnumerable<MT>? data; // = new List<Element>();
    private Dictionary<int, List<MKS>> mksd = new();
    private int selectedRowNumber = -1;
    private MudDataGrid<MT>? mudDataGrid;
    private bool contextMenuVisible;

    private bool isActivityDisabled = true;
    private bool isMagazaDisabled = true;
    private bool isTaniticiDisabled = true;
    private bool isOnaylaDisabled = true;

    private DialogOptions dialogOptions = new() { NoHeader = true, };

    private async Task ExpandedChanged(bool newVal, int mtId)
    {
        if (newVal)
        {
            //await Task.Delay(600);
            //_panelContent = _bigAsyncContent;
        }
        else
        {
            // Reset after a while to prevent sudden collapse.
            //Task.Delay(350).ContinueWith(t => _panelContent = null).AndForget();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Deneme
        string sql = $"select MTid, Name, Uri from MT";
        data = await db.LoadData<MT, dynamic>(sql, new { });
        foreach(var mt in data)
        {
            var mksl = new List<MKS>();
            mksd.Add(mt.MTid, mksl);
            var dmks = await db.LoadData<MKS, dynamic>("select * from MKS where MTid = @MTid", new { MTid= mt.MTid });
            foreach(var i in dmks)
            {
                i.KuponNo = $"LN{AppState.UsrRefId}{i.Seri}";
                mksl.Add(i);
            }
        }
    }

    private async Task Activity()
    {
        contextMenuVisible = false;
    }

    private void ContextMenuShow(MT item)
    {
        mudDataGrid.SelectedItem = item;

        isActivityDisabled = false;

        contextMenuVisible = true;
    }

    private string SelectedRowClassFunc(MT element, int rowNumber)
    {
        //if (selectedRowNumber == rowNumber)
        //{
        //    selectedRowNumber = -1;
        //    return string.Empty;
        //}
        if (mudDataGrid.SelectedItem != null && mudDataGrid.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        if (AppState.UsrTyp != "T")
        {
            NavigationManager.NavigateTo("/");
            return Task.CompletedTask;  // Hic biryere gitmeden Dispose gidip cikiyor
        }
        return base.SetParametersAsync(parameters); // Diger LifeCyle metodlarini cagiriyor
    }


    private sealed class MT
    {
        public int MTid { get; set; }
        public string? Name { get; set; }
        public string? Uri { get; set; }
        public string? LNlink => $"http://LinkNo.Net/m/{MTid}";

    }

    private sealed class MKS
    {
        public int MTid { get; set; }
        public string Seri { get; set; }
        public string KuponNo { get; set; }
        
    }
}
