@page "/tsd2"
<h3>TagSeachDialog</h3>

<MudPaper Width="300px">
    <MudList Clickable="true" SelectedItemChanged="@OnSelected">

        @foreach (var grp in dGrps)
        {
            int grpKey = grp.Key;
            var grpVal = grp.Value as Grp;
            <MudListItem Text="@grpVal.Name">

                <NestedList>
                    @foreach (var tag in dTags.Where((x) => x.Value.GrpId == grp.Key))
                    {
                        //var tagVal = tag.Value
                        <MudListItem Disabled="@tag.Value.Disabled"
                             Text="@tag.Value.Name"
                             Value="@tag.Value.Id"
                             OnClick="@(() => OnTagClicked(tag.Key))" />
                    }
                </NestedList>

            </MudListItem>
        }
    </MudList>
</MudPaper>


@code {
    int selTagKey;

    Dictionary<int, Grp> dGrps = new()
    {
        {1, new Grp { Id = 1, Name = "Sex", isMny = false } },
        {2, new Grp { Id = 2, Name = "Hby", isMny = true } },
    };
    Dictionary<int, Tag> dTags = new()
    {
        {1, new Tag { Id = 1, Name = "Erkek", GrpId = 1 } },
        {2, new Tag { Id = 2, Name = "Kadin", GrpId = 1 } },

        {3, new Tag { Id = 3, Name = "Spor", GrpId = 2 } },
        {4, new Tag { Id = 4, Name = "Muzik", GrpId = 2 } },
        {5, new Tag { Id = 5, Name = "Resim", GrpId = 2 } },
    };

    private void OnTagClicked(int tKey)
    {
        selTagKey = tKey;
    }

    private void OnSelected(MudListItem itm)
    {
        //itm.Disabled = true;
        //Grps[1].Tags[1].Disabled = true;
        //var aaa = Grps.FindIndex((x => x.Tags.Fin == ));

        //var gi = 1;
        //var ti = Grps[gi].Tags.FindIndex(x => x.Id == 5);
        //Grps[gi].Tags[ti].Disabled = true;
    }

    public sealed class Tag
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool Disabled { get; set; } = false;
        public int GrpId { get; set; }
    }

    public sealed class Grp
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool isMny { get; set; } // AND search icin Aynı grupdan birden çok seçilebilir
    }
}


