@page "/mgz/home"
@inject NavigationManager NavigationManager
@inject DataHub dataHub
@inject IPubs pubs
@implements IDisposable

<PageTitle>Mağaza</PageTitle>

<h3>Mağaza Home</h3>
@foreach (var itm in data)
{
    <p>@itm.ECid @itm.ETid @itm.UTid @itm.UTnn @itm.Info</p>
}


@code {
    [CascadingParameter] private UserStateProvider? USP { get; set; }
    private List<EC> data;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<UserStateProvider>(nameof(USP), out var value))
        {
            if (value is null || value.UsrTyp != "M")
                NavigationManager.NavigateTo("");
            else
                await base.SetParametersAsync(parameters);  //Diger LifeCyle metodlarini cagiriyor
        }
    }
    
    
    int grp = 6;

    protected override async Task OnInitializedAsync()
    {
        await dataHub.ChatInit(grp, USP.UsrId);
        data = dataHub.Chats[grp];
        pubs.ChatChanged += OnChatChanged!;
    }

    private void OnChatChanged(object sender, ChatEventArgs args)
    {
        if (args.Grp == grp)
            InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        dataHub.ChatRemove(grp, USP.UsrId);
        pubs.ChatChanged -= OnChatChanged!;
    }


}
